*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    background-image: linear-gradient(to bottom, #0F0C29, #002754);
    align-items: center;
    background-repeat: no-repeat;
    box-sizing: content-box;
}

#bordaPagina{
    height: 400px;
}

h1{
    font-family: "Caveat", cursive;
    text-align: center;
    margin-top: -300px;
    background: linear-gradient(to right,#FFFFFF, #eecb1d );
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Deixa o fundo transparente para mostrar o gradiente */
    font-weight: 300;

}

p{
   color: white;
   width: 1100px;
   text-align: justify;
   margin: auto;
   font-size: 30px;
   font-family: "Caveat", cursive;
   margin-top: 30px; 
}

h2{
    padding: 50px;
    font-family: "Italianno", cursive;
    background: linear-gradient(to right,#FFFFFF, #eecb1d );
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Deixa o fundo transparente para mostrar o gradiente */
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}